@import "https://unpkg.com/transition-style";

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .stop-scrolling {
    height: 100%;
    overflow: auto;
  }
}
